/* BODY */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* MAIN */

main {
  /* make sure to cover the screen */
  min-height: 100vh;
  /* need a solid bg to hide the footer */
  background: white;
  /* put on top */
  position: relative;
  z-index: 1;
  padding: 2rem;
}

/* TEXT */

p {
  margin: 0 auto 1rem;
}

/* BOOTSTRAP */

.card-deck {padding: 10vw 10vw 0vw 10vw}


/* !!! CUSTOM CSS !!! */

/* all pages */

.logotype{
  margin: 0 0 2vh 0;
}

.logotype-img{
  width: 70%
}

.img-container {
  width: 100%;
  height: 100%;
}

.page-header{

}

.col-nav-links{
  display: flex;
  justify-content: space-between;
}

.nav-bar{
  margin-bottom: 3rem;
}

.row-content{

}

.link-to-project-page{
  /* display: contents; */
}

.link-to-project-page:hover{
  transform: rotate(25deg);
}

/* INDEX page */

.index-img{
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
  }

.index-text-container{

}

.index-link{
  font-size: 2rem;
  color: redrgb(13, 172, 231);
  font-family: inherit;
}
.col-index-text{
  display: flex;
  flex-direction: column;
}



/* all project page */

.all-project-img-container{

}

.all-project-img{
  height: 100%;
  width: 100%;
  border: 5px solid rgb(9, 14, 20);

}

.all-project-text-container{

}

.col-all-project-text{
  display: flex;
  flex-direction: column;
}

/* project page */
.project-container{
  margin-top: 5vh;
  margin-bottom: 15vh;

}
.project-hero-container {
  width: 100%;
  height: 500px;
  margin: 0 0 20vh 0;
}

.project-img-container{
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
}
.project-img {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
}

.project-hero-text {
  width: 100%;
  height: 20vh;
  margin: 0 0 0 0;
}

.project-content {
  width: 100%;
  height: 25vh;
  margin-bottom: 5vh;
}


/* FOOTER */

footer {
  /* put on bottom */
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;

  background: #42d7ff;
  display: grid;
  place-items: center;
  padding: 5vh;
}


/* ~~~~ TEST CODE ~~~~ */
