/* BODY */
body {
  margin: 0;
  font-size: 16px
}



/*Heading styling*/

/* h1{
  font-size: calc(16px + 2vw);
} */
* {
  box-sizing: border-box;
}

h1, h2 {font-family: 'Lato', sans-serif; margin: 0}

h1, h2, h3, p {color: #0B0D3D}
.name-header {font-weight: 700;font-size: 2rem}
.title-header {color: #444CDF; padding-top: 10px; font-weight: 400; font-size: 1.3rem}
.name-header, .title-header {margin: 0px}
h1 {font-weight: 400;font-size: 2rem}
h2 {font-weight: 400;font-size: 1rem}
h3 {font-weight: 400;font-size: .6rem}
p {}

h3 {margin: 0px; font-family: 'Lato', sans-serif; font-weight: 300; font-size: 2rem;}

.section-link {font-family: 'Lato', sans-serif; font-weight: 300; font-size: 2rem; color: #0B0D3D}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline; color: #444CDF
}

a:active {
  text-decoration: underline;
}

.hide{display: none;}


/* MAIN */
main {
  /* make sure to cover the screen */
  min-height: 100vh;
  /* need a solid bg to hide the footer */
  background: white;
  /* put on top of footer*/
  position: relative;
  z-index: 1;
  /* padding: 10rem 10rem; */
}

.row{
  /* removes default right margin on rows */
  margin-right: 0;
}

.logotype{
  text-align: left;
}

.logotype-img{
  width: 4em;

}

.main-nav{
/* adds space below nav */
  margin: 1rem 0;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  text-align: end;
  font-size: .5em;
}

.col-nav-links{
/* makes nav flex column with even spacing */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-nav-link{
/* selects a tags in nav */
}

/* TEXT */
p {
  margin: 0 auto 1em;
}

.about-container{

}


.about-p{

}

.index-link{
  font-size: 2rem;
  color: redrgb(13, 172, 231);
  font-family: inherit;
}

.img-container {
  width: 100em;
  height: 100em;
}

.about-img{
    width: 100%;
    margin: 0 0 0 0;
    border-radius: 4px;
  }

.card{
  border: 0;
}

.card-body {
  padding: 0
}

.card-footer{
  border: 0;
  background-color: #fff;
  padding: 0;
}


.btn{
  color: #fff;
  background-color: #3431D6;
  border-color: #3431D6;
  font-size: 1em;
  padding: .5em;
}

.btn:hover{
  color: #fff;
  background-color: #6562fc;
  border-color: #6562fc;
}

.btn:focus{
  color: #fff;
  background-color: #6562fc;
  border-color: #6562fc;
}

.badge {
  cursor: default;
  font-size: .5em;
  padding: .7em
}
/* /MONOTYPE PAGE */
.mono-hero-container{
  /* height: 100vh; */
}

.mono-h1 {
  font-size: calc(16px + 7vw)
}

/* FOOTER */

footer {
  /* put on bottom */
  position: sticky;
  bottom: 0;
  left: 0;
  /* colors the darn thing */
  color: white;
  background: radial-gradient(circle at 9.44% -7.92%, #00b9e2 0, #00b9f8 3.33%, #00b8ff 6.67%, #00b6ff 10%, #00b4ff 13.33%, #00b1ff 16.67%, #00adff 20%, #00a8ff 23.33%, #00a1ff 26.67%, #0099ff 30%, #0090ff 33.33%, #4c85ff 36.67%, #8f78ff 40%, #b86aff 43.33%, #d859ff 46.67%, #f146f9 50%, #ff2ee4 53.33%, #ff00cd 56.67%, #ff00b5 60%, #ff009e 63.33%, #ff0086 66.67%, #ff006f 70%, #ff0058 73.33%, #ff2041 76.67%, #ff3b28 80%, #ff4f00 83.33%, #ff5f00 86.67%, #f36d00 90%, #e37a00 93.33%, #d18500 96.67%, #be8e00 100%);
  /* pads the thing */
  padding: 2em;
  font-size: .5em;
}

.icon-container{
  text-align: center;
}

/* selects footer icons */
.fab, .far{
  color: white;
}

/* selects :hover footer icons */
.fab:hover, .far:hover{
  opacity: 40%;
  color: white;
  text-decoration: none;
}



.footer-p{
  cursor: default;
  padding: 0;
  margin: 0;
}


/* ~~~~ TEST CODE ~~~~ */

.module-border-wrap{
  padding: .5rem;
}
.module-border-wrap:hover,.module-border-wrap:focus{
  padding: .5rem;
  position: relative;
  /* changes cursor */
  cursor: pointer;
  background: radial-gradient(circle at 9.44% -7.92%, #00b9e2 0, #00b9f8 3.33%, #00b8ff 6.67%, #00b6ff 10%, #00b4ff 13.33%, #00b1ff 16.67%, #00adff 20%, #00a8ff 23.33%, #00a1ff 26.67%, #0099ff 30%, #0090ff 33.33%, #4c85ff 36.67%, #8f78ff 40%, #b86aff 43.33%, #d859ff 46.67%, #f146f9 50%, #ff2ee4 53.33%, #ff00cd 56.67%, #ff00b5 60%, #ff009e 63.33%, #ff0086 66.67%, #ff006f 70%, #ff0058 73.33%, #ff2041 76.67%, #ff3b28 80%, #ff4f00 83.33%, #ff5f00 86.67%, #f36d00 90%, #e37a00 93.33%, #d18500 96.67%, #be8e00 100%);
}

.module {
  background: #ffffff;
  padding: .5rem;
}
